@model MaoriSouvenirShopping.Models.ShoppingCartViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Default";
}


<div id="cd-cart" class="container">
    <h2><span class="glyphicon glyphicon glyphicon-shopping-cart"></span> My Cart</h2>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <h4 class="display-4">Item ID</h4>
        </div>
        <div class="col-sm-3">
            <h4 class="display-4">Souvenir</h4>
        </div>
        <div class="col-sm-3">
            <h4 class="display-4">Quantity</h4>
        </div>
        <div class="col-sm-3">
            <h4 class="display-4">Price</h4>
        </div>
    </div>

    @foreach (var item in Model.CartItems)
    {
        <hr />
        <div class="row">
            <div class="col-sm-3"><a asp-action="Details" asp-route-id="@item.Souvenir.SouvenirID">@item.Souvenir.SouvenirID</a> </div>

            <div class="col-sm-3"><a asp-action="Details" asp-route-id="@item.Souvenir.SouvenirID">@item.Souvenir.SouvenirName</a> </div>

            <div class="col-sm-3">@item.Count <a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item.Souvenir.SouvenirID"><span class="glyphicon glyphicon-remove-circle"></span></a></div>

            <div class="col-sm-3">$@item.Souvenir.Price</div>
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-3">Sub Total:</div>
        <div class="col-sm-3">$@Model.SubTotal</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-3">Total GST:</div>
        <div class="col-sm-3">$@Model.TotalGST</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-3">Grand Total:</div>
        @if (Model.CartTotal == 0)
        {
            <div class="col-sm-3">$0.00</div>
        }
        else
        {
            <div class="col-sm-3">$@Model.CartTotal</div>
        }
    </div>
    <br />
    @*@if (@Model.CartItems.Count > 0)
        {*@
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <a class="empty-cart-btn" asp-action="EmptyCart" asp-controller="ShoppingCart">
                Empty Cart <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div class="col-sm-5">
            <a class="checkout-btn" asp-action="Create" asp-controller="Orders">
                Checkout<span class="glyphicon glyphicon-step-forward"></span>
            </a>
        </div>
    </div>

    @*}*@

</div>
