@model MaoriSouvenirShopping.Models.ShoppingCartViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Default";
}


<div id="cd-cart" class="container">

    <h2><span class="glyphicon glyphicon glyphicon-shopping-cart"></span> My Cart</h2>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <h4 class="display-2">Item ID</h4>
        </div>
        <div class="col-sm-3">
            <h4 class="display-2">Souvenir</h4>
        </div>
        <div class="col-sm-3">
            <h4 class="display-2">Category</h4>
        </div>
        <div class="col-sm-2">
            <h4 class="display-2">QTY.</h4>
        </div>
        <div class="col-sm-2">
            <h4 class="display-2">Price</h4>
        </div>
    </div>
    <div class="row" id="cart_items">
        @foreach (var item in Model.CartItems)
        {
            <hr />
            <div class="row">
                <div class="col-sm-2"><a asp-action="Details" asp-route-id="@item.Souvenir.SouvenirID">@item.Souvenir.SouvenirID</a> </div>
                <div class="col-sm-3"><a asp-action="Details" asp-route-id="@item.Souvenir.SouvenirID">@item.Souvenir.SouvenirName</a> </div>
                <div class="col-sm-3">@item.Souvenir.Category.CategoryName</div>
                <div class="col-sm-2">@item.Count <a data-ajax="true" data-ajax-complete="onUpdateCartComplete" href="~/ShoppingCart/RemoveFromCart/@item.Souvenir.SouvenirID"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
                <div class="col-sm-2">$@item.Souvenir.Price</div>
            </div>
        }
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">Sub Total:</div>
        <div class="col-sm-2" id="sub_total">$@Model.SubTotal</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">Total GST:</div>
        <div class="col-sm-2" id="gst_total">$@Model.TotalGST</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">Grand Total:</div>
        @if (Model.CartTotal == 0)
        {
            <div class="col-sm-2" id="total_price">$0.00</div>
        }
        else
        {
            <div class="col-sm-2" id="total_price">$@Model.CartTotal</div>
        }
    </div>
    <br />
    @if (@Model.CartItems.Count > 0)
        {
    <div class="row" id="cart_buttons">
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <a data-ajax="true" data-ajax-complete="onUpdateCartComplete" href="~/ShoppingCart/EmptyCart" class="empty-cart-btn">
                Empty Cart <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div class="col-sm-5">
            <a class="checkout-btn" asp-action="Create" asp-controller="Orders">
                Checkout<span class="glyphicon glyphicon-step-forward"></span>
            </a>
        </div>
    </div>

    }

</div>
