@model MaoriSouvenirShopping.Models.Souvenir

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Souvenir</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            var imgUrl = @Href("~" + Model.PhotoPath);
            var errImg = @Href("~/images/Error.svg");
        }
        <dt>
            <img style="width: auto; height: auto;" src="@imgUrl" alt="Souvenir Image" onerror="this.onerror = null; this.src = '@errImg'">
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.SouvenirName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SouvenirName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@Model.SouvenirID" asp-route-rv=@Model.RV>
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Add To Cart
    </a>|
    <a asp-action="Index">Back to List</a>
</div>
